<<<<<<< HEAD
=======

>>>>>>> 66eadafaec85d64b7c46e58d0cb6c0c4fe568f96

.container {
  background-color: rgb(0, 0, 0);
  max-width: 800px;
  padding: 50px;
<<<<<<< HEAD
  padding-top: 50px;
  box-sizing: border-box;    
 
    height: 100vh;            
    margin-top: 30px;               
    background-color: #111;   


=======
  padding-top: 100px;

  height: 100vh;            
  margin: 0;               
  background-color: #111;   
>>>>>>> 66eadafaec85d64b7c46e58d0cb6c0c4fe568f96
}

.detail_img {
  max-width: 800px;
  background-color: #111;
  overflow: hidden;
  border-radius: 30px;
  transform: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
  border: solid white 1px;
}

.detail_overview {
  max-width: 800px;
  line-height: 35px;
  color: white;           
}
